li {
  list-style-type: decimal;
}

.input {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
  resize: vertical;
  border: 1px solid #ccc;
}

.submit {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

/* --- GAME --- */
label {
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}

label::before,
label::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

label::before {
  background-color: #fff;
  border: 1px solid #008000;
  height: 20px;
  width: 20px;
  left: 5px;
}

label::after {
  background-color: #008000;
  opacity: 0;
  height: 16px;
  width: 16px;
  left: 7px;
}

input:checked + label::after {
  opacity: 1;
}
